/* This is a needed css file to reset css among different browsers.globally use all pages. */



.skipButton{

font-family: 'Courier';
font-size: 25px;
color: white;

cursor: pointer;

}
.skipButton:hover{
    color: rgb(253,240,4);
    cursor: pointer;

}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
    font-size: 100%;
    font: inherit;
        overflow-x: hidden;
        overflow-y: hidden;

    
    vertical-align: baseline;
    }
    #__next{
        height: 100%;
     
         }
    .page-transition-enter-done{
        height:100%;
    }
    .page-transition-enter{
        height:100%;
    }
    .page-transition-enter-active{
        height:100%;
    }
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    @media screen and (max-width:375px) and (orientation: landscape) {
        html {
            height: 100vw;
            transform: rotate(-90deg);
            line-height: 1;
            margin: 0;
    padding: 0;
    border: 0;
    -ms-user-select: none;
    user-select: none;
     font-size: 100%;
     font: inherit;
         overflow-x: hidden;
         overflow-y: hidden;
 
     
     vertical-align: baseline;

        }
      }